.overHide{
    overflow: hidden;
    opacity: -1;
    transition: all 0.5s;
    align-self: start;
  }
.overShow{
    overflow: hidden;
    opacity: 1;
    transition: all 2s;
}

.dote{
  padding: 6%;
  border-radius: 100%;
}


.numberpage{
  width: 200px;
  text-align: center;
  padding-left: 1%;
  padding-right: 1%;
}
.nextleft{
  background-color: rgba(0, 0, 0, 0.74);
  color: aliceblue;
}
.nextright{
  background-color: rgb(255, 0, 0);
  color: aliceblue;
}

.None-History{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20%;
  width: 100%;
  height: 97%;
  border-radius: 5px;
  background-color: rgba(230, 13, 13, 0.123);
  z-index: 2;
}